[2014-04-27 23:16] fauxparse opened #8 "Why is this the only component (so far) with a plural name?"
Oughtn't this to be called "util" for consistency?

[2014-06-08 10:55] #8 closed, assigned to nobody

[2014-07-17 05:53] tak1n opened #21 "Kernel.Float with Complex"
This part is a little bit problematic on Rubinius and causes some tests to fail:

[code]

In mri:

[code]

In rbx:

[code]

In Rubinius a TypeError is raised (which is in my opinion the right error in this case) and objects of class Complex are responding to `to_f`, therefore the exception is rescued but then the Coercion to Float is tried again with `to_f`.

You could see this as bug in rubinius

[2014-10-17 13:37] lstrzebinczyk opened #32 "Does Lotus::Utils::String#underscore need all method calls done in it?"
1. When this: https://github.com/lotus/utils/blob/master/lib/lotus/utils/string.rb#L73 line is removed, all the tests pass nicely. Is it not needed, or should there be a test to cover this case?

I'm digging into this methods performance and objects allocations of this method. If it's not needed, I will send a PR with ~26% perf improvement and half the objects allocated. If it is in fact needed, i

[2014-10-17 15:35] #32 closed, assigned to jodosha

[2014-10-22 08:05] jodosha opened #35 "Introduce a deprecation API"
We need a mechanism to print a warning when a deprecated method is used.

[2014-11-12 17:53] #35 closed, assigned to jodosha

[2014-11-14 09:02] #21 closed, assigned to jodosha

[2014-12-28 04:28] joneslee85 opened #48 "Enhance Lotus::Utils::Hash to give correct explanation for errors yielded within block call"
Please see the comment by @jodosha below

[2015-01-03 09:21] #48 closed

[2015-02-09 18:25] jc00ke opened #60 "Add Kernel.UUID for eventual UUID primary key in mapper"
Proposing we add `UUID` so in the mapper we can have

[code]

Thoughts?

[2015-02-10 09:36] jodosha commented on #60
@jc00ke Thanks for opening this ticket. We are already discussing about custom coercions in a separated GH issue. https://github.com/lotus/model/issues/36

I recognize that `UUID` is a _"type"_ as an output of an algorithm. We represent it as a string, but there is difference between `"hello"` and `"20c61826-48c1-4f52-a6fd-f1de26ce0f6a"`.

However, this can't be implemented as a coercion. The rule

[2015-02-10 09:36] #60 closed

[2015-03-24 03:34] PaBLoX-CL opened #68 "Default values for attributes?"
I was using `lotus/validations` in my gem, I liked the syntax sugar of `attribute`, with their validations. But I found out that there's no way to include default data. It seems (to me at least) something basic, so maybe I'm just missing something obvious (I read the _verbose_ explanation on how to use **only** the validations, but using that I have to sacrifice almost all the sugar).

Is there al

[2015-03-24 09:27] joneslee85 commented on #68
@PaBLoX-CL can you please post it on `lotus/validations` repo?

[2015-03-24 09:27] #68 closed

[2015-03-24 12:25] PaBLoX-CL commented on #68
Sure, sorry, when I posted this I thought was an attribute created trough `lotus/utils`, but after peeking at the source code I realize it was in the validations repo :P.

[2015-03-30 19:53] luislavena opened #69 "Interactor: recording error shouldn't return false?"
Hello,

Been playing with `Lotus::Interactor` and trying to combine `valid?` requirement (since is a private method that **must** override) with logging of `errors`, and found that `error` logging is not returning a false/falsy value to be used in combination with `valid?`.

Example:

[code]

Problem is that `valid?` returns `true`, even when `error` has been called and `errors` is not empty:

[co

[2015-03-31 08:01] AlfonsoUceda commented on #69
In this example `valid?` returns:
[code]
now `valid?` is returning errors, should check errors array, I think this is a bug

[2015-04-07 08:21] jodosha commented on #69
@luislavena @AlfonsoUceda Hello and sorry for the delayed reply, I've been busy with day job and then took a few days off. I've opened a PR (#70) to fix this problem. Would you like to review it and check if it solves your problem?

@luislavena This Interactor usage is new to me, but yeah it makes sense to return _falsey_ for `#error`. In general you should check the returning value of `#call`:

[

[2015-04-07 13:07] luislavena commented on #69
@jodosha made `valid?` public just to expose the issue, but the problem is that `call` is invoked.

From my example:

[code]

While `success?` returns `false`, the code inside `call` is invoked:

[code]

That is caused by `valid?` not returning a *falsey* value.

I've workaround this by implementing the logic checks like the following:

[code]

As you can see, not easy to follow :smile:

Will look

[2015-04-08 16:31] #69 closed

[2015-05-12 12:57] luislavena opened #77 "Interactor: introduce `expose` to replace automagic instance variable collection"
Hello,

Once again, thanks you all for the great work on Lotus!

At some point on Gitter I mention replace the automagical instance variable conversion to mimic `Lotus::Action` `expose` behavior:

[code]

The only difference will be the direct mapping as methods between exposures (as part of payload).

I've a patch for this locally, but I'm concern about the change in behavior, which is why I'm su

[2015-05-15 15:22] luislavena commented on #77
/cc @jodosha

[2015-05-15 15:38] AlfonsoUceda commented on #77
Hi @luislavena

Nice feature but in which scenarios do you use this feature? This `expose` api only add visibility to know what instance variables you exposed, somethin like public and private instance variables.

[2015-05-15 15:45] luislavena commented on #77
That is correct.

We use several instance variables that should remain private to the
service, for example memoize an api call.

We would like to decide what to expose instead of the arbitrary *all
instance variables* without having to use special naming.

Having a defined exposure also helps with the contract for the service.

Thank you.

Sorry for top posting. Sent from mobile.
On May 15, 2015 1

[2015-05-15 15:47] AlfonsoUceda commented on #77
@jodosha I agree with @luislavena I created several "interactors/services" in rails (without gem) and some times I use memoization and I only expose some instance variables.

What do you think to support this feature?

[2015-05-15 16:28] jodosha commented on #77
@luislavena Thanks for brining this discussion on the table. My reply comes a bit later because of the 0.3.1 release of `lotusrb`. I'm totally :+1: with this, but because it's a breaking change, I'd bump `lotus-utils` 0.5.0.

[2015-05-15 17:12] AlfonsoUceda commented on #77
@jodosha @luislavena told us this
[code]

[2015-05-15 17:20] AlfonsoUceda commented on #77
@luislavena can you make a PR with this new feature? thanks ;)

[2015-05-16 16:41] joneslee85 commented on #77
I like this idea too, :+1:

[2015-05-20 21:55] luislavena commented on #77
@AlfonsoUceda @joneslee85 great, will send the pull request shortly! (just back from some time off :smile: :sunny:)

[2015-05-27 17:54] jodosha commented on #77
@luislavena PING. I would love to include this change in v0.5.0, which will be a dependency for Lotus v0.4.0 (June 23rd). Do you will have time to work on this?

[2015-05-27 17:56] luislavena commented on #77
Yeah!

I'm traveling right now but will send my pull request this weekend.
On May 27, 2015 1:54 PM, "Luca Guidi" <notifications@github.com> wrote:

[2015-06-09 16:39] jodosha commented on #77
@luislavena I took this over, as we have so little time to wrap up this release. Would you mind to review? Thank you! #80

[2015-06-09 16:51] luislavena commented on #77
@jodosha sorry, had a few setbacks on my flights and limited internet over the past few days.

Checking your changes now, thank you.

[2015-06-09 17:17] jodosha commented on #77
@luislavena No worries, just wanted to avoid to rush for this change one or two days before the release.

[2015-06-09 17:24] #77 closed

[2015-11-03 13:26] DanielBlanco opened #91 "Release version 0.6"
Hi Lotus has a dependency on Lotus Utils version 0.6 https://github.com/lotus/lotus/blob/master/lotusrb.gemspec#L22

But Gem Version is currently: [![Gem Version](http://img.shields.io/gem/v/lotus-utils.svg)](https://badge.fury.io/rb/lotus-utils)

Can you please release 0.6?

[2015-11-04 08:51] jodosha commented on #91
@DanielBlanco `lotus-utils` 0.6 will be released when `lotusrb` will hit 0.6.

I think you're using `lotusrb` master if you're asking this question :wink: If so, please add this line to your `Gemfile`.

[code]

[2015-11-04 08:51] #91 closed

[2015-11-05 17:44] mrubi opened #92 "Addition propossal"
Hi,

I would like to propose to add the :if_nil and :if_not_nil methods as utility methods.

Reason:

Instead of doing things like:
[code]

we would do

[code]

other uses may be

[code]

Implementation:
[code]

If this idiom resembles smalltalk, you are right.
If this seems reasonable I can create the appropriate pull request.
Thanks!

[2015-11-06 14:39] jodosha commented on #92
@mrubi Sorry, but monkey-patching Ruby core and stdlib is against Lotus philosophy.

[2015-11-06 14:39] #92 closed

[2015-11-06 14:50] mrubi commented on #92
Ok, thanks!

[2015-11-17 11:23] florianb opened #93 "TypeError in class_attribute.rb:77 - can't dup Symbol"
Hi,

when running `lotus server --debug=DEBUG` i get a lot of `TypeError`s (i extracted 1 of 10+ lines):

    Exception `TypeError' at /Users/***/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/lotus-utils-0.5.2/lib/lotus/utils/class_attribute.rb:77 - can't dup Symbol

I guess it is impossible to catch this in a test, since the error is seems to be displayed due to a special condition caused by the

[2015-12-16 14:08] #93 closed

[2015-12-20 11:15] davydovanton opened #97 "Date/Time formatters"
Hello.
I want tot help with [this task from trello](https://trello.com/c/q7WEs640/92-date-time-formatters) (Date/Time formatters). Do you want to see smth like [`Date`](http://api.rubyonrails.org/classes/Date.html) and [`Time`](http://api.rubyonrails.org/classes/Time.html) rails helpers?

[2015-12-20 11:16] davydovanton commented on #97
/cc @jodosha

[2015-12-20 16:01] jodosha commented on #97
@davydovanton Hey thanks for going through the Trello board.

That feature is a for `lotus-helpers` (see the ticket label in Trello), not for `lotus-utils`. It isn't planned yet, because it involves i18n, which needs a bigger evaluation on how to support it in Lotus.

Because of our open process, you're free to suggest solutions that can work both for `lotus-helpers` in isolation and `lotusrb` (fo

[2015-12-20 16:01] #97 closed

[2015-12-20 16:48] davydovanton commented on #97
I understand. Thanks for explanation again! :blush:

[2016-01-15 12:12] gmanley opened #106 "Issue with inflector when pluralizing word album"
I'm rebuilding a rails gallery of mine to use lotus and was running into a weird issue where when using:

`resources :albums`

in my routes and then referencing it via `routes.path(:albums)` it was not being recognized as a valid route. I dug into the stacktrace and found the issue to be related to the inflector.

[code]
The route was being named `alba`. Long story short, to reproduce:

[code]

Th

[2016-01-15 12:52] jodosha commented on #106
@gmanley Hey thanks for opening this ticket. A PR with the fix is very welcome :+1:

A side note to let to solve your problem now:

[code]

[2016-01-27 20:53] pastuxso opened #113 "Haml errors after upgrade to Hanami 0.7.0"
Hi, after upgrade to Hanami 0.7.0 we are experiment some issues with haml, e.g.

[code]

on

[code]

Any idea?

[2016-01-27 21:01] cllns commented on #113
The issue is that `encode` [doesn't call `.to_s`](https://github.com/hanami/utils/blob/master/lib/hanami/utils/escape.rb#L532) on the input, but [it used to](https://github.com/hanami/utils/commit/9221338890dc9e7361509fbfc03d14bf94616ec1).

I added this test, in `test/escape_test.rb`. It works on `0.5.0`, but fails on `0.6.0`, `0.6.1` and `0.7.0`.
[code]
If we add this test to codebase, we should

[2016-01-27 22:47] davydovanton commented on #113
@cllns you're right :+1:
Could you create a PR? If you want I can do it.

[2016-01-29 09:43] #113 closed

[2016-01-29 10:24] #106 closed

[2016-02-24 10:14] jodosha opened #119 "Utils::String#classify "AwesomeProject" => "Awesomeproject""
## Actual

[code]

## Expected

[code]

---

/cc @hanami/contributors

[2016-02-24 10:56] hieuk09 commented on #119
@jodosha: I can work on this

[2016-02-24 12:51] #119 closed

[2016-03-20 00:22] darkslategrey opened #123 "Lot of warnings when run 'rake test' w/minitest"
ruby version : 2.3.0 within rbenv
hanami version : 0.7
Complete logs : https://gist.github.com/darkslategrey/deade748d3c5ecea450d

To diable warnings when running `rake test` add `$VERBOSE=nil` into your `spec/spec_helper.rb`

[2016-03-20 10:29] hirokiraj commented on #123
Same thing happening with RVM and ruby-2.2.0, using Hanami in 0.7.2 version

[2016-03-21 12:52] jodosha commented on #123
@darkslategrey @hirokiraj Hi and thanks for starting this discussion.

We haven't developed the framework with warnings enabled. That suddenly became a problem with Rake 11 because it turns on Ruby warnings by default.

---

The task isn't solvable with a single PR. There are several cases to take in account:

  * Poor Ruby usage: see the `*attributes` example above
  * Circular dependencies
  * D

[2016-03-21 12:52] #123 closed

[2016-03-21 13:03] jodosha opened #127 "URI.extract is obsolete"
`Hanami::Utils::Escape.url` is using `URI.extract`, which is deprecated. We need to update the implementation of that method.

[2016-03-21 13:05] jodosha opened #128 "URI.unescape is obsolete"
`Hanami::Utils::Escape.url` is using `URI.unescape` (alias of `URI.decode`), which is deprecated. We need to update the implementation of that method.

[2016-03-22 13:21] jodosha commented on #128
Fixed by #130

[2016-03-22 13:21] #128 closed

[2016-03-22 13:21] jodosha commented on #127
Fixed by #130

[2016-03-22 13:21] #127 closed

[2016-03-23 02:27] joneslee85 opened #132 "Fix intermittent test"
As of https://travis-ci.org/hanami/utils/jobs/117866354, we had one failed test:

[code]

This test can be improved to avoid this failure.

[2016-03-23 03:03] rogeriozambon commented on #132
Dammit. :disappointed:

I'll try to understand the reason.

[2016-03-23 04:53] rogeriozambon commented on #132
While I was reading the tests, I realized that the reason could be the `tmp` folder because it is on .gitignore file. So I made a loop to try find some occurrences and I've found 33 of them.

[code]

If someone has a workaround to it..

[2016-03-23 13:24] davydovanton commented on #132
@rogeriozambon I think I found the problem. I'll send PR soon

[2016-03-24 18:27] #132 closed

[2016-05-14 03:42] ericfreese commented on #123
Another potential workaround for this would be to disable warnings in the rake test task setup:

[code]

[2016-05-19 23:06] RyanHedges opened #140 "BigDecimal in 0.7.1 doesn't handle negative and negative exponents"
Version: Using Hanami 0.7.2 which is using `hanami-utils` 0.7.1.
When trying to coerce a BigDecimal number that would have a negative exponent (`0.09`) or is a negative number(-1.12345), the method raises an error. It was found while trying to create a record with the value of `0.05` in the repository that had a `BigDecimal` mapped to the attribute.

[code]

These tests fail when checked out on th

[2016-05-20 08:28] jodosha commented on #140
@RyanHedges Hey, thanks for reporting this issue.

With https://github.com/hanami/utils/commit/ae1683c00b9404c4ee98f0e632f2b6b6a7ae618a on master we added the tests to prevent regressions.

With https://github.com/hanami/utils/commit/6c8409c995254cc5b5dbe3dca8ea0331cac2d957 we back-ported `Utils::Kernel` from master to 0.7.x

I just released [0.7.2](https://rubygems.org/gems/hanami-utils/versions/

[2016-05-20 08:28] #140 closed

[2016-08-09 13:46] pascalbetz opened #151 "namespace issue with load_from_pattern!"
For

[code]

I'd expect

[code]
to pass. But it won't as ```puts klass.new.level #=> 'top'```

[2016-08-10 06:56] jodosha commented on #151
@pascalbetz Do you think that `Utils::Class.load_from_pattern!` [should use](https://github.com/hanami/utils/blob/a958dd528cc4b8e7ccb7cdd4b96f3aac7b406526/lib/hanami/utils/class.rb#L115) `const_get(name, false)`?

[2016-08-10 07:03] pascalbetz commented on #151
Yes. Perhaps you can check out the PR. I've added 3 test cases. Two of which work plus one that fails with current implementation. All of them pass with changed implementation.

[2016-08-10 07:08] jodosha commented on #151
@pascalbetz I noticed the PR after my question. I'm looking at it and checking if all the other frameworks are affected from that proposed change. Thanks!

[2016-08-10 07:46] #151 closed

[2016-08-19 08:49] ksenia-zalesnaya opened #154 "Inflector feature: acronyms"
In Rails I had model FAQ in `app/models/faq.rb`. It was possible with `ActiveSupport::Inflector.inflections { |inflect| inflect.acronym 'FAQ' }`.
Hanami expects only `Faq` model and I cannot find settings to change that.  When I rename class to `FAQ` I get an error. Since `FAQ` is acronym I do not want to write it as `Faq`, but I have to.
So I think inflector should capitilize/camelcase `faq` like

[2016-08-20 02:10] joneslee85 commented on #154
Thanks for submitting this issue. I acknowledge this is a useful feature for Inflector, the question is is it needed by everyone on common basis? Would you be able to provide your usecase and why you need this feature with Hanami now?

[2016-08-22 09:47] ksenia-zalesnaya commented on #154
Well, maybe FAQ is not so popular example. But a lot of people use API, and it also should be camelized not like Api. Someone may use SMTP, CSRF, CSP, etc.

[2016-08-22 19:14] cllns commented on #154
I think we should allow developers to define any acronym inflector they want. (I do not think we should maintain a list of any acronyms, since that'd be a ton of work and confusing. I don't think you were proposing this, but I want to clarify.)

@ksenia-zalesnaya Your use-case was loading classes right?

[2016-08-22 20:20] ksenia-zalesnaya commented on #154
@cllns Yes, I meant there should be an opportunity to define acronyms. They should be used in loading classes.

[2016-08-23 17:08] cllns commented on #154
@ksenia-zalesnaya any chance you could provide a failing test for that? I just generated a model named `faq`, which got generated at `Faq`. I changed it to `FAQ` in both the entity and its spec and it worked fine. I forget the exact circumstance where you discovered this.

[2016-08-23 18:37] ksenia-zalesnaya commented on #154
@cllns I got this issue some time ago and now I also can't make an example with model. But I did it with routes and controller: https://github.com/ksenia-zalesnaya/hanami/commit/15b94d09056ed48ae4cb41840425d0910ef51ab3

[2016-09-18 17:05] lkananowicz opened #157 "Logger"
Hi.
I have a custom setup of Nginx + Puma + jruby 9.0.0.0 + lotusrb app. It seems that there are no logs in files specified in config/puma.rb, neither stdout nor stderr. I asked the similar question on https://github.com/puma/puma/issues/1080#issuecomment-247808891
and it looks like there is no logging by default with puma in production mode.

Did anyone faced similar issue with jruby or have any

[2016-09-19 06:24] joneslee85 commented on #157
@lkananowicz thanks for reporting. Can you please let me know what version of Hanami you are running? FYI lotusrb is the old name

[2016-09-19 07:44] lkananowicz commented on #157
Yes, I know the name was changed to Hanami. I am currently on quite an old 0.4.1 version.

[2016-09-19 11:09] joneslee85 commented on #157
@lkananowicz the old version does not support JRuby. and there has been changes in hanami logging code. I highly recommend you try out with a new dummy app to see if the issue persists.

[2016-09-19 20:09] lkananowicz commented on #157
@joneslee85  That's weird, I was using jruby with Hanami version 0.4.1 for about a year now. Anyway, thanks for your help.

[2016-10-10 21:46] vladdypwnz opened #158 "Do we still want to correct the Interactor bit?"
It's leaving out the fact that it catches and suppresses errors unless specifically defined, `error!()` is different than `error` (collect vs doesn't collect) and that `fail!()` doesn't stop execution. None of them do and none of that is made clear.

I'm not sure of the tone and format of amending an rdoc though so if @cllns could help me out here.

[2016-10-10 22:15] cllns commented on #158
Open a PR on this file and change the comments to make them correct :) https://github.com/hanami/utils/blob/master/lib/hanami/interactor.rb I'll help you polish it.

The tone is less casual than the guides, more of 'just the facts', and less narrative-driven.
For the format, just follow the existing conventions in that file and you should be fine.

[2016-10-13 10:59] alexd16 opened #159 "Interactor does not allow to expose hashes with non-symbolizable keys"
Hi,

I was trying to use the Hanami::Interactor in a rails project and I came across an issue where I cannot expose a hash that does not have symbolizable keys (to_sym not defined).

Example:

[code]

From what I see the issue is that the exposures in the Interactor is stored in a Utils::Hash and it calls simbolize! here: https://github.com/hanami/utils/blob/master/lib/hanami/interactor.rb#L136.

[2016-10-17 14:13] jodosha commented on #157
@lkananowicz Hi 😄 What @joneslee85 was trying to say is that: we don't support JRuby yet for `hanami` gem. So we didn't expected it to work, but that doesn't necessary means that it doesn't. As your experiences teaches us, it works fine.

That being said. At 0.4.1, we didn't had logging facilities yet. Also, if you're looking for automatic logging of rendering, actions, SQL queries, that isn't imp

[2016-10-17 14:13] #157 closed

[2016-10-17 14:16] jodosha commented on #158
@vladdypwnz Hi! If something isn't clear please open a PR to cleanup the API docs. If there is a bug please provide a detailed description of what happens for you. Thanks!

[2016-10-17 14:18] jodosha commented on #159
@alexd16 Hi! Yes, that isn't the expected way to use it. The returning value of `#call` is meant to be a symbolized hash.

May I ask you what's your real world use case? Thanks

[2016-10-17 14:20] jodosha commented on #154
@ksenia-zalesnaya Hi! 😄

What do y'all think about this Ruby basic solution?

[code]

[2016-10-17 21:58] alexd16 commented on #159
Hi @jodosha! Thanks for the response.

About my use case, I need to render an excel type grid in the frontend.
This grid is used to join two models and assign a certain float value.

So the easiest way I found to fill the initial values of the grid was to build an hash with ids of one of the models mapping to the ids of the other model with the value that should appear in the respective cell. For

[2016-10-19 14:27] jodosha commented on #159
@alexd16

No worries at all.

---

Now I see your problem. It's because Interactor uses `Utils::Hash#symbolize!` for result. Unfortunately that `Utils::Hash` method deep symbolizes all the keys, which is unexpected.

The intent here is to just symbolize the keys of result:

[code]

In the example above only `"foo"` should be symbolized, not the nested hash.

[2016-10-19 14:58] alexd16 commented on #159
Yeah I saw the reason why it was happening I just wasn't sure if it was the intended behaviour.

If you want I can try to make a PR for it.

[2016-10-19 15:49] mereghost commented on #159
@jodosha That seems to have been introduced by pull request #116
Reverting it might raise some unexpected results.

[2016-10-20 07:24] lkananowicz commented on #157
@jodosha Thanks for a detailed explanation :). I will think of smth custom then. It would really helpful to see stacktraces when you get 500 errors from your production app :+1:

[2016-10-26 06:21] jodosha commented on #157
@lkananowicz You can see errors in production. Logging != errors stack trace.

When an exception is raised in production, it isn't suppressed. We put in Rack env under the `rack.errors` as per Rack SPEC. Then we also put it in `rack.exception`, because it's a de-facto standard for error reporting products like BugSnag.

[2016-10-26 08:20] TiteiKo opened #165 "Wrong inflections on irregular words when prefixed"
I have a route resource `:satisfaction_quizzes`

Generated route for `:show` is named `satisfaction_quizze` instead of `satisfaction_quiz`

I'll just add an exception to the inflector, but is having a prefix to an irregular word a common enough occurence so that it should be handled by the inflector?

[2016-10-26 12:00] AlfonsoUceda commented on #165
@TiteiKo have you tried a resource named `:quizzes`? to show what happen with the singular.

[2016-10-26 18:03] TiteiKo commented on #165
@AlfonsoUceda works well without the prefix:

On a clean app, adding the following routes:
[code]

produces the following:

[code]

[2016-10-26 19:36] AlfonsoUceda commented on #165
@TiteiKo thanks! I'll take a look at inflector internals tomorrow

[2016-10-27 08:11] TiteiKo commented on #165
As we decided this should be treated as an exception on my side, I close this issue :)

[2016-10-27 08:11] #165 closed

[2016-11-11 19:36] beauby opened #169 "Use of JSON.load vs JSON.parse"
The ruby docs explicitly say the following

Yet, `load` is used [here](https://github.com/hanami/utils/blob/master/lib/hanami/utils/json.rb), and hanami-router calls that method for parsing json bodies of http requests.

[2016-11-12 20:51] AlfonsoUceda commented on #169
@beauby could you open a PR for this? thanks man ;)

[2016-11-13 23:18] beauby commented on #169
Not sure what the best way around this is, because `MultiJson` only exposes `#load` (which, when using the std JSON parser via MultiJson, does call `#parse` under the hood), so replacing the `.load` call with `.parse` will not work.

[2016-11-13 23:29] beauby commented on #169
Interesting short explanation of the vulnerability introduced by this `JSON#load` call: http://stackoverflow.com/a/30050571/580231

[2016-11-13 23:40] cllns commented on #169
If we're using `MultiJson`, which is not vulnerable, let's disable that style rule? (Or, if you're feeling ambitious, submit a patch to Rubocop to check if it's using `MultiJson`)

[2016-11-13 23:41] beauby commented on #169
@cllns What "style rule" are you referring to?

[2016-11-13 23:45] cllns commented on #169
This one: https://github.com/bbatsov/rubocop/blob/58a70984eea90b78c56e39b31db9bc1ba9a9ce80/config/enabled.yml#L1553-L1561

We can add
[code]
to `.rubocop.yml` to ignore this rule

[2016-11-13 23:48] beauby commented on #169
Oh, I didn't know there was a rubocop rule for that (it is not triggered here though because the call happens indirectly via `@@engine.load`).
The problem is that MultiJson is not necessarily used, which means `::JSON#load` (the vulnerable one) *does* actually get called in that case.

[2016-11-18 14:19] #169 closed

[2016-11-23 14:46] AlfonsoUceda commented on #154
ping @ksenia-zalesnaya

[2016-11-24 10:14] ksenia-zalesnaya commented on #154
@jodosha I thought there could be more elegant solution.
I do not need acronyms that much in controllers, I need them more in models. Earlier each model should be required individually. Now `Hanami::Utils.require!` is introduced. I wanted to test it to check if it will understand FAQ model, but `hanami new` generates broken application.

[2016-12-01 16:56] yjukaku opened #172 "Interactor uses gramatically wrong terms for success/failure"
Thank you for your work on this project!

When an Interactor call was a success, we check with either

[code]

but we check failure with

[code]

This doesn't make grammatic sense, because the opposite of `success?` would be `failure?` and the opposite of `successful?` would still be `failure?`.  However, `failing?` is definitely not correct, because its opposite would be `succeeding?`.

I think t

[2016-12-01 17:19] cllns commented on #172
I agree `failing?` is awkward. I think we should switch it to `failure?`.

`Interactor` just added this convenience method. :sweat_smile: https://github.com/hanami/utils/pull/148.

It looks like the original PR had it as `failure?` but it got switched to `failing?` by @jodosha :)

[2016-12-04 19:17] AlfonsoUceda commented on #172
I agree with that change, I think we should use `failure?` instead `failing?`

[2016-12-04 20:09] cllns commented on #172
@yjukaku Feel free to open a PR for this change, if you have time :)

[2016-12-04 20:22] katafrakt opened #173 "Pluralization problems for words ending in -en"
I'm using `Kitten` as entity in some of my tests and I was quite surprised when after updating to Hanami 0.9 I found `KittenRepository` complaining that table `kittina` was not present in my database.

I did some digging and found that [this rule](https://github.com/hanami/utils/blob/master/lib/hanami/utils/inflector.rb#L376-L377) is responsible for that. It changes `-en` ending into `-ina` in plu

[2016-12-04 20:26] cllns commented on #173
Thanks for this issue. I agree we should optimize for 🐱  and not `foramen` :)

Feel free to open a PR for this if you have the time!

[2016-12-10 21:02] rpanachi opened #178 "Interactor result modifying the exposure values"
After updated to `hanami-utils` v0.9, all interactors in my project are broken, because the value in the exposures are being changed by `Hanami::Utils::Hash#symbolize!` method. Example:

[code]

Using `hanami-utils` 0.8:

[code]

After update to `hanami-utils` 0.9.0:
[code]

PS: Yes, my `UserModel` class implements `to_hash` method.

This behavior of Interactor's result was introduced by https://g

[2016-12-11 01:27] cllns commented on #178
Thanks for opening this. Sorry about things breaking for you. We're moving fast (and breaking things 😞) to try out different things before 1.0, when we'll have to make a major version bump to break backward compatibility, since we follow Semantic Versioning.

Why does `UserModel` implement `to_hash`? Could it implement `to_h` instead?

I think `to_hash` makes sense for something like form submissi

[2016-12-11 02:29] rpanachi commented on #178
@cllns actually my `UserModel` is a `Sequel::Model`, so it implements `to_hash` by inheritance: https://github.com/jeremyevans/sequel/blob/master/lib/sequel/model/base.rb#L1288

But my point here is that `Hanami::Utils::Hash` are changing the Interactor behavior by changing the values in the exposures (calling `to_hash` on each element).

I understand that you have to move fast, but break this kin

[2016-12-11 13:09] AlfonsoUceda commented on #178
Hi @rpanachi thanks for opening the issue, as @cllns said we are under v1.0 and we can break things, sorry for the inconveniences. In my opinion this is a bug, because if you expose that instance variable as `UserModel`, it shouldn't be changed to `Hanami::Utils::Hash`.

cc @jodosha

[2016-12-12 11:56] jodosha commented on #173
Fixed by #174

[2016-12-12 11:56] #173 closed

[2016-12-12 12:00] jodosha commented on #154
@ksenia-zalesnaya

What do you mean?

[2016-12-12 12:02] jodosha commented on #178
@rpanachi I'm terribly sorry about your problem. We already have a solution for this, but we can't merge it straight away because that requires another breaking change for `Utils::Hash#symbolize!`.

We plan to ship this fix in a couple of weeks.

[2016-12-12 12:11] rpanachi commented on #178
Ok, I'll wait for the definitive solution. Thanks @jodosha for the feedback

[2016-12-12 20:40] ksenia-zalesnaya commented on #154
@jodosha When I wrote this I got an error with newly generated app, but later I found I had some mess with installed hanami gems. After I cleaned up and used latest versions I could generate working application.

I tried to create model FAQ and it worked. As I see, `Hanami::Utils.require!` loads constants no matter what the filename is? In Rails I should name file user.rb for User constant, but he

[2016-12-12 20:40] #154 closed

[2016-12-16 23:12] #172 closed

[2016-12-20 08:03] #159 closed

[2016-12-20 08:46] jodosha commented on #178
Fixed by #162

[2016-12-20 08:46] #178 closed

[2016-12-20 08:47] jodosha commented on #158
Closing this as stale. @vladdypwnz If you're interested, please reopen and continue the discussion. Thanks.

[2016-12-20 08:47] #158 closed

[2017-01-08 11:20] pascalbetz opened #182 "Add error message to Interactor#fail! ?"
Would it make sense to add an (optional) error message to `Hanami::Interactor#fail!`
?
Message could be handled like `Hanami::Interactor#error!(msg)`

[2017-01-08 11:22] pascalbetz opened #183 "Error in Hanami::Interactor::Result#respond_to_missing? ?"
`Hanami::Interactor::Result#respond_to_missing?` returns `true` for various concrete methods.

[code]
https://github.com/hanami/utils/blob/master/lib/hanami/interactor.rb#L144

I don't think that `METHODS[method_name]` should be there.

[2017-01-08 15:45] jodosha commented on #183
@pascalbetz It's a [good practice](https://robots.thoughtbot.com/always-define-respond-to-missing-when-overriding) to define `#respond_to_missing?` when `#method_missing` is used.

Being our `Hanami::Interactor::Result` a subclass of `BasicObject`, its behavior it's different from a descendant of `Object`. In our case we want to make sure that this condition is true:

[code]

For this purpose Ruby

[2017-01-08 15:45] #183 closed

[2017-01-08 15:56] jodosha commented on #182
@pascalbetz `#fail!` is designed to just terminate the flow, while `#error!` is designed to store an error message **and** terminate the flow.

By adding that responsibility to `#fail!`, the semantic will be identical. But we still need a method that is just able to terminate the flow.

---

Let me explain better the differences.

When you have a situation where you want to add an error and exit,

[2017-01-08 16:33] pascalbetz commented on #183
@jodosha

I totally missed that `Result` is subclassing `Utils::BasicObject` everything makes sense now. Sorry.

[2017-01-08 16:39] pascalbetz commented on #182
thx for the explanation...
should have checked the source code, did not know that `error!` exists.

To me the interface would be easier if it were like
[code]

[2017-01-08 20:11] mereghost commented on #182
TBH I'm not sure I like `error!` as it does 2 unrelated things (add an error message and acts as flow control). I'm fine with `fail!` (but I think the bang is unnecessary as we don't have a non-bang version of it) itself.

[2017-01-08 20:19] pascalbetz commented on #182
`fail` is the same as `throw`, so we need the bang.

[2017-01-08 20:27] mereghost commented on #182
Not sure that I follow.

Bang methods are usually destructive on the caller (and usually have a non-bang versions) and are usually meant to denote that they are more dangerous than their non-bang counterparts (i.e. `Kernel#exit` and `Kernel#exit!`) . If we need a bang because it interrupt the normal flow, so `Kernel#fail` would need one too.

`error` and `error!` have nothing in common at all, whi

[2017-01-10 14:00] jodosha commented on #182
@mereghost But without the bang, we're overriding `Kernel#fail`, which is dangerous. That's why in the first place I named it `#fail!` (with the bang).

[2017-01-10 14:02] jodosha commented on #182
@pascalbetz  I'd like to have a decision about this soon.

  * Which problem are we solving?
  * Why the current implementation is not enough?
  * Which changes we should introduce to solve the problem?

Thank you! 😉 👍  /cc @mereghost

[2017-01-10 17:17] mereghost commented on #182
@jodosha I thought that was the reason when I first saw it and I can't even think of a better name (naming is hard!) so we can remove the bang.

But on the topic of `error` and `error!`: they have different semantics and differ only by the bang.

[2017-01-10 22:03] pascalbetz commented on #182
@jodosha

A bit difficult. It's more a "i'd do it differently" but have not worked extensively with Interactor, tbh.

I'd remove `error!` and provide a `fail!(msg = nil)` method instead to avoid the confusion between `error` and `error!` (remember, i started this because i was not aware of how to end the interactor with an error message).

[2017-01-14 09:10] jodosha commented on #182
@pascalbetz fine 😄  - Please create a PR if you want. 😉  /cc @mereghost

[2017-01-21 18:20] jodosha commented on #182
Closing as stale proposal. Feel free to act on this if you want.

[2017-01-21 18:20] #182 closed

[2017-01-23 11:34] alexd16 opened #186 "[Question] Interactor call with arguments"
Hi everyone, I have been using the Hanami::Interactor for some time now and I have been wondering if there is a reason on why the call method is not allowed to receive any arguments.

I am asking this because I saw a couple of examples related to testing the Hanami Actions (from the main framework) in the guides and I liked the pattern of injecting dependencies in the constructor and receiving par

[2017-01-25 15:27] jodosha commented on #186
@alexd16 Yes, you're right. I extracted that version of Interactor from a Rails project I was working on two years ago. Because of the lack of DI in Rails, I made the wrong decisions.

That means future versions of Interactor will be DI friendly: `#call` will accept arbitrary arguments.

[2017-01-25 15:27] #186 closed

[2017-01-29 17:37] jreinert opened #188 "exposed models in result of Interactor#call become Hanami::Utils::Hash"
exposing models in an interactor results in them being transformed into a `Hanami::Utils::Hash`. I'd expect them to stay instances of their model class.

[2017-01-31 00:17] gizotti commented on #188
@AlfonsoUceda You said you were going to take a look at this on Gitter. If you haven't started it yet I can have a look. I have some spare time tonight that I would like to fill in with something :)

[2017-01-31 07:48] AlfonsoUceda commented on #188
@gizotti sorry but I couldn't do it ;) take a look if you can, I'll try this evening.

[2017-01-31 08:37] gizotti commented on #188
@AlfonsoUceda no worries man. I just didn't want to step on your toes.

I'll have a look at it

[2017-01-31 12:55] AlfonsoUceda commented on #188
This behaviour is because inside the interactor we use `Hanami::Utils::Hash` and in the initializer has [`#to_hash`](https://github.com/hanami/utils/blob/master/lib/hanami/utils/hash.rb#L47). `Hanami::Entity` implement this method.

[2017-01-31 22:06] gizotti commented on #188
I saw this yesterday, just didn't have time to update here, sorry.

Does that mean that `Interactor` is behaving as expected and we need to work around it? Or should we add a case on the initializer so it keeps the `Model` in its original form?

[2017-01-31 22:59] gizotti commented on #188
@AlfonsoUceda The problem might be even deeper than the `Hanami::Utils::Hash` usage.

Here's my `Interactor` class:

[code]

This is the `payload` passed to the `_payload` method:

[code]

And the result of  `Utils::Hash.new(payload).symbolize!` which is the same as above:
[code]

However, this is what a I get from `result.post`:

[code]
I think im not even close to getting this one. But hopefully

[2017-02-01 07:58] jodosha commented on #188
@gizotti Thanks for getting back. Sorry for the misunderstanding, but we consider it a bug. @AlfonsoUceda and @mereghost are looking into it. The fix should be easy: avoid to use `Utils::Hash` for the payload.

[2017-02-01 13:44] alexd16 commented on #188
@jodosha @AlfonsoUceda Isn't this fixed by the changes in the PR https://github.com/hanami/utils/pull/162?
I think the previous version of symbolize! was the cause of this (see: https://github.com/hanami/utils/pull/162/files#diff-bfa5aa835d37e08f696e6c62759f2f3dL68)

[2017-02-03 08:01] #188 closed

[2017-02-03 08:01] AlfonsoUceda commented on #188
Fixed by #190

@gizotti @jreinert @alexd16 the problem is fixed ;)

[2017-02-04 22:29] jreinert commented on #188
:+1:

[2017-03-20 09:47] jodosha opened #198 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-20 09:52] artofhuman commented on #198
@jodosha can I take this issue ?

[2017-03-20 10:02] jodosha commented on #198
@artofhuman It's all yours. Thank you. 😄

[2017-03-25 08:38] sebastjan-hribar opened #201 "Add logrotation to Hanami::Logger"
I propose to add logrotation to Hanami::Logger to support limiting the logs in duration or size. Same as standard [Ruby logger](https://ruby-doc.org/stdlib-2.3.0/libdoc/logger/rdoc/Logger.html#class-Logger-label-How+to+create+a+logger).

[2017-03-31 04:33] #201 closed

[2017-04-10 14:35] #198 closed

[2017-04-11 10:06] choallin opened #208 "classify sometimes falsly classifies strings"
If I have an already classified string with a namespace in it, classify destroys that string. e.g.
[code]

[2017-05-06 08:46] jodosha commented on #208
Fixed by #209 and 9f150a9d963c753d88f579cd1f316915cc551ba6

[2017-05-06 08:46] #208 closed

[2017-06-13 00:07] jaymiejones86 opened #213 "Documentation issue with persist method"
I encountered an issue when following the documentation for using the [Interactor Interface](http://www.rubydoc.info/gems/hanami-utils/Hanami/Interactor/Interface) where the repository is being called with the `persist` method which in my Hanami application would result in a `NoMethodError` exception.

To ensure it was not own code causing the issue, I have created a repo to mimic the documentatio

[2017-06-13 09:06] cllns commented on #213
The `persist` class method hasn't existed for a while. First, we moved from class methods to object methods. Then, we changed the back-end of `hanami-model` and removed `persist` entirely. These docs just never got updated. See the methods on Repositories here: https://github.com/hanami/model#repositories

Feel free to open a PR changing the lines with `persist` to `UserRepository.new.create(@para

[2017-06-14 07:15] TiteiKo opened #214 "Logger app information"
The logger logs this:
[code]

Notice the `"app":"bookandgolf"` part? `bookandgolf` here is the name of the project, while `accounting` is actually the name of the app. In a multi-app project, this log is missing the crucial (real) `app` information.

Proposition of rendering if we want to keep the project name in it:

[code]

This is not only a json formatter issue, as the default formatter render

[2017-06-14 13:57] cllns commented on #213
@jaymiejones86 Would you like to open the PR, or should I do it? 🌸

[2017-06-14 20:22] jaymiejones86 commented on #213
@cllns I will create the PR today. Ran out of time since your last comment.

[2017-06-19 11:12] cllns commented on #213
Closed via #215! 🎉

🌸

[2017-06-19 11:12] #213 closed

[2017-06-21 11:11] sovetnik opened #217 "Inflector mistake on words like `phase`"
[code]

Can be hardcodeв by adding exception in initializer (thanks @TiteiKo)
[code]

[2017-07-07 09:45] jodosha opened #221 "Introduce functional methods for `Utils::String`"
Add new class methods for `Utils::String` for the existing features that this class provides.

We should add the following class methods, w/ the same behavior of the instance method counterpart:

  * `.titleize`
  * `.capitalize`
  * `.classify`
  * `.underscore`
  * `.dasherize`
  * `.demodulize`
  * `.namespace`
  * `.pluralize`
  * `.singularize`
  * `.rsub`
  * `.tokenize` ???

The returning v

[2017-07-10 09:11] #217 closed

[2017-07-10 09:55] jodosha commented on #217
@sovetnik We've just released `hanami-utils-1.0.2` with this fix. Thanks 👍

[2017-08-09 08:39] jodosha commented on #221
Implemented by #224

[2017-08-09 08:39] #221 closed

[2017-08-11 20:18] jodosha commented on #214
@TiteiKo It supposed to print different apps at the beginning of the line. Then it supposed to fallback to project name for entries regarding `lib/` eg. database queries. So this is a bug.

[2017-09-06 11:33] wuarmin opened #230 "New Hanami::Utils::Interactor::Result-attribute "warnings""
Hello!
What do you think about a new Hanami::Utils::Interactor::Result-attribute "warnings", which can be set/filled with a new Hanami::Utils::Interactor "warning"-method?

To achieve i.e. following:
[code]

We achieve this feature via an custom module, but we would love to use it analogous to error. If you think this could be a feature, I coul provide a PR.

thanks

[2017-09-06 13:55] jodosha commented on #230
@wuarmin What's the semantic of a warning in this case? Is it a warning the comes from a lower level library? Eg. a deprecation warning?

[2017-09-06 14:26] wuarmin commented on #230
@jodosha No, I don't mean warnings from lower level libraries. I think of business-logic warnings, which should not affect the status of the result.

I.e. an interactor, which should prettify a line of an flight-offer.
param of the interactor:
[code]
success? of the interactor should be true, but with warnings ["Airport IATA-Code 'XKX' is unknown!"]
[code]
That's just one example. We have other us

[2017-09-06 15:32] jodosha commented on #230
@wuarmin What about create your own `warnings` variable and expose it on the outside?

[2017-09-07 08:12] wuarmin commented on #230
@jodosha That's what we are doing at several Interactors in our Code-Base. We need to initialize a warnings-variable, write a method analogous to the error-method and expose it.

In the meantime we tried to write a module which should handle all this, but we were not really happy with it.

I thought other users would also benefit from a warnings-handling.

[2017-09-07 14:50] jodosha commented on #230
@wuarmin IMO this looks like a custom need, that I'm happy you found a way to deal with.

Success/failure is a strong dichotomy that can be easily understood because of the binary nature of programming. Adding a third option, would weak it.

[2017-09-07 14:50] #230 closed

[2017-09-07 15:02] wuarmin commented on #230
@jodosha ok, I understand.

[2017-09-29 15:27] nfilzi opened #234 "Hanami::Utils::BasicObject#inspect doesn't output anything"
Hey guys! I noticed a rather strange issue while trying to implement an interactor in my Hanami application. When the Result object was returned at the end of my interactor run, nothing was displayed in the terminal. By nothing, I do not mean `nil`, just plain nothing.

I somehow managed to pinpoint it up to the `Hanami::Utils::BasicObject#inspect` method, but I'm stuck on how to fix it, so I can'

[2017-10-01 20:08] AlfonsoUceda commented on #234
Hi @nfilzi thanks for the issue, could you provide more info about your interactor?

[2017-10-02 15:57] jodosha commented on #234
@nfilzi I played a bit with this problem: for some reason this fails only with Pry. It invokes `Hanami::Utils::BasicObject#inspect`, but it does print out the output string of that method.

[2017-10-02 16:23] jodosha commented on #234
Apparently Pry doesn't uses `#inspect` but `#pretty_print` (from Ruby's `pp`).

[2017-10-02 16:29] jodosha commented on #234
@nfilzi Would you mind to try this fix? #237 Thanks

[2017-10-02 16:50] #234 closed

[2017-10-05 19:21] nfilzi commented on #234
It's working like a charm, thanks a lot for the swift fix @jodosha !

[2017-10-27 16:46] serradura opened #240 "Idea: Transform classes and modules only with singleton methods into modules with `extend self` or `module_function`."
Today I read part of the source code looking for the approach used to define static/utility methods.

And I saw two approaches:
1. A class only with public static methods. e.g: [Hanami::Utils::Blank](https://github.com/hanami/utils/blob/v1.1.0/lib/hanami/utils/blank.rb)
2. A module with public and private static methods. e.g: [Hanami::Utils::Files](https://github.com/hanami/utils/blob/a226dc639af0

[2017-10-28 06:28] spectator opened #241 "Inconsistent #stringify! behavior"
Hi there,

`1.1` update changed `stringily!` behavior. Consider the following example

[code]

I have to convert params so it has string keys so it plays nice with [graphql-ruby](https://github.com/rmosolgo/graphql-ruby)

[code]

As you can see nested into array hashes still have symbol keys, `1.0` used to stringify those keys as well.

[2017-10-29 15:28] AlfonsoUceda commented on #241
Hi @spectator I've been testing hanami utils in version 1.0 and it didn't work as you said, check my snippet.
Version 1.0.0
[code]
Version 1.1.0
[code]

As you can see it works exactly equal, this is because if there is an array we don't look at inside it. I think we should fix it.

[2017-10-30 04:22] spectator commented on #241
Hi @AlfonsoUceda

Thank you for looking into this!

I did try bare Gemfile with only `hanami-utils` `1.0` and it works as you pointed out, however in Hanami app it does work as I originally described, here is a snipped

[code]

Exactly the same steps but with latest `hanami-utils` in `Gemfile` produces symbol keys in hashes nested into array.

I see you already have a fix, but I feel like trying t

[2017-10-30 08:09] AlfonsoUceda commented on #241
@spectator sorry I didn't test in a hanami app, that can be related with some change in deep_symbolize because as you can see in your example, hashes inside the array had string keys and with the update to 1.1 you had symbol keys.

[2017-10-30 19:59] spectator commented on #241
Ah, I see. Makes sense now. Thank you!

[2017-11-22 15:32] #241 closed

[2017-12-13 17:52] davydovanton opened #245 "Proposal: different streams for each level"
Just a idea but I think it will be great to have something like this:
[code]

In this case you can use one logger with different sources for each logger level instead using rollbar and logger.

@hanami/core WDYT?

[2017-12-21 20:46] AlfonsoUceda commented on #245
Hi @davydovanton I don't this is a good idea, IMO a logger should write in one place, just one. Did you extract this idea from other side?

[2018-01-25 15:31] davydovanton opened #250 "Proposal: inject tags to logger instance"
## Why?

We have long logger file with 10k lines. And we want to check what happened for specific request/job execution/etc.

## How?
We can create simple method `#inject` (we can change name) and use it in any places:

[code]

For example, we can inject uuid into logger and use it in in rack:

[code]

@hanami/core WDYT?

[2018-02-01 13:19] jodosha commented on #245
@davydovanton I'm also with @AlfonsoUceda on this. Having different streams for different levels means to increase drastically the internal complexity of `Hanami::Logger`.

---

I'll give you one example: log file rotation. As of 1.1, you can specify arguments to rotate the log on a time or size metric. Now, the rotation policy is associated with the stream (a file). If we allow multiple streams (

[2018-02-01 13:19] #245 closed

[2018-02-01 13:23] jodosha commented on #250
I like the idea.

[2018-02-01 13:23] davydovanton commented on #245
@jodosha yep, agree with your points. And yes, it'll increase complexity for hanami logger 👍

_P.S.: maybe this idea is a good start for a new ruby gem for different streams_ 🤔

[2018-02-16 19:31] cllns opened #252 "Add #tap to Hanami::Utils::BasicObject"
I tried to simulate an error on a `Hanami::Interactor::Result` (which is a `Hanami::Utils::BasicObject`):

[code]
and I got: ` NoMethodError: undefined method 'tap' for #<Hanami::Interactor::Result:0x00007fc90839f9a8>`

The implementation for `#tap` on `Hanami::Utils::BasicObject` should be as simple as:
[code]
(From this blog post: http://seejohncode.com/2012/01/02/ruby-tap-that/).

I know we wan

[2018-02-17 17:23] AlfonsoUceda commented on #252
I've never understood tap, it has the same lines than the version assigning a variable and with an extra indentation, but that's my personal opinion :P

I think we could add it, it is a very easy method.

[2018-02-19 22:40] AlfonsoUceda commented on #250
I like too, what do you think something more explicit?
[code]

[2018-02-22 07:16] davydovanton commented on #250
@AlfonsoUceda yep, good idea 👍

[2018-02-22 07:54] davydovanton commented on #252
absolutely agree with @AlfonsoUceda (with `tap` and adding method :D )

[2018-02-22 07:55] davydovanton commented on #252
@cllns WDYT if we made it as `good for first PR` issue?

[2018-02-22 16:29] cllns commented on #252
@davydovanton Good idea, that's `easy` right? I just added that. (I feel like that label should be [`simple` instead of `easy`](https://www.youtube.com/watch?v=rI8tNMsozo0) 😉)

[2018-02-22 20:27] cllns commented on #252
I wonder if the better move here is to make `Hanami::Interactor::Result` _not_ inherit from `Hanami::Utils::Basic` object, and leave it as the default (`::Object`)?

There are many other methods people could want to send to an Interactor's result:
https://ruby-doc.org/core-2.4.1/Object.html

It's not an object that's created many times, so I don't think the performance hit of using `::Object` vs `

[2018-02-22 21:05] sashashakun commented on #252
Hi! I am pretty new to ruby, but want to fix this, is it ok? Already checked out [contributing guide](https://github.com/hanami/utils/blob/master/CONTRIBUTING.md). Thanks!

[2018-02-27 13:52] jodosha commented on #252
@cllns Please have a look at: https://github.com/hanami/utils/pull/254#issuecomment-368882085

TL;DR: `BasicObject` reduces the clashes between Ruby default methods and result payload keys. The more we add methods, the more there is the chance of clashes.

You can solve the problem with:

[code]

I vote against this change 👎.

[2018-02-27 19:48] cllns commented on #252
Thanks for the explanation. Agreed!

[2018-02-27 19:48] #252 closed

[2018-02-28 09:02] davydovanton commented on #250
I'll start work on it 👍

@AlfonsoUceda I think it'll be better to use `with_context` method, like: `Hanami.logger.with_context(uuid: uuid)`. WDYT?

[2018-02-28 09:08] AlfonsoUceda commented on #250
@davydovanton 👍

[2018-02-28 20:21] davydovanton opened #255 "Logger: display keys when message is hash"
## Current behaviour
For example we have `/books` action where we log all params:

[code]

Now, if we call `/books?filter=title` we will see something like this:

[code]

For me it's not a super information logger message. Of course I can change my logger to `logger.info(params: params)`. But in this case I'll see something like this:
[code]

## What I suggest

Allow to use hash message in logger.

[2018-03-08 11:43] davydovanton commented on #255
After discussion with @jodosha: we're waiting "Coloured output" feature and fix this bug 👏

[2018-03-29 12:53] jodosha commented on #255
Fixed by #257

[2018-03-29 12:53] #255 closed

[2018-04-12 15:55] jodosha opened #259 "Deprecate `Utils::String` and `Utils::Hash` instance methods"
- [x] Use `Hanami::Utils::Deprecation` for the purpose
  - [x] The deprecation warning should indicate the corresponding class method to use
  - [x] Handle `#singularize` and `#pluralize` w/o specifying the corresponding class method to use. As `Utils::String.singularize` and `.pluralize` will be removed in 2.0.
  - [x] Handle `method_missing` w/o specifying the corresponding class method to use

[2018-04-12 15:57] jodosha opened #260 "Remove `Utils::String` as `Utils::Hash` types"
- [x] Transform `Utils::Hash` from class into module
  - [x] Transform `Utils::String` from class into module
  - [x] Make `Utils::PathPrefix` to implicitly depend on `Object`
  - ~~Extract `Utils::String` deprecated instance methods into private class~~
  - ~~Make `Utils::PathPrefix` to depend on previous point private class~~

Use `unstable` branch for this change.

---

Ref https://github.com/h

[2018-04-12 16:07] jodosha opened #261 "Make `Utils::Callbacks` to use `Concurrent::Array` internally"
Replace `::Array` usage with `Concurrent::Array`.
Please use `unstable` branch of this repository.

[2018-04-12 16:12] jodosha opened #262 "Deprecate `Utils::Class.load_from_pattern!`"
- [x] Deprecate using `Hanami::Utils::Deprecation` for the purpose
  - [x] Replace all the occurrences in Hanami repositories (`develop` branches) with `Utils::Class.load!`

Use the `develop` branch for this enhancement.

[2018-04-12 16:14] jodosha opened #263 "Remove `Utils::Class.load_from_pattern!`"
Use `unstable` branch for this purpose.

---

Ref https://github.com/hanami/utils/issues/262

[2018-04-12 16:16] jodosha opened #264 "Make `Utils::ClassAttribute` to use `Concurrent::Map`"
Replace `::Set` usage with `Concurrent::Map`.
Please use `unstable` branch of this repository.

[2018-04-12 16:34] jodosha opened #265 "Remove `Utils::Duplicable`"
- [x] Replace the occurrences of `Utils::Duplicable` with `Object#dup`
  - [x] Remove `Utils::Duplicable`

Use the `unstable` branch for this enhancement.

---

This change should happen **after** we [bumped minimum version of Ruby to 2.4](https://github.com/hanami/hanami/issues/921).

---

Please note, we cannot deprecate `Utils::Duplicable` in `v1.3.0` because we will still support Ruby 2.3 for

[2018-04-12 16:36] jodosha opened #266 "Remove `Utils::Files.rewrite`"
It was already deprecated in `v1.2.0`.

This change goes to the `unstable` branch of this repository.

[2018-04-12 17:39] jodosha opened #267 "Remove `Utils::Inflector` and `Utils::String.pluralize` / `.singularize`"
From 2.0 Hanami will use `dry-inflector` instead of `Utils::Inflector`.

  - [ ] Remove `Utils::Inflector`
  - [ ] Remove `Utils::String.pluralize` and `.singularize`

---

This change **MUST** go to `unstable` branch of this repository.

---

Ref https://trello.com/c/nJhd5awo

[2018-04-16 09:10] jodosha commented on #266
Implemented by #270

[2018-04-16 09:10] #266 closed

[2018-04-23 09:16] oana-sipos commented on #262
Hey @artofhuman! Saw you submitted a PR regarding this issue, may I assign it to you?

[2018-04-23 10:16] artofhuman commented on #262
@oana-sipos sure

[2018-04-24 12:49] jodosha commented on #262
@artofhuman Thank you very much for your help! 💚

[2018-04-24 12:49] #262 closed

[2018-04-26 12:54] jodosha commented on #261
Implemented by https://github.com/hanami/utils/pull/268

[2018-04-26 12:54] #261 closed

[2018-06-05 03:59] pawan92 commented on #265
i would like to take this on but was initially looking and can't seem to find which file or code this occurs in?

[2018-06-05 04:05] cllns commented on #265
@pawan92 Thanks for the help! @jodosha meant [`Hanami::Utils::Duplicable`](https://github.com/hanami/utils/blob/master/lib/hanami/utils/duplicable.rb'), instead of `Hanami::Utils::Duplicate`.

[2018-06-05 04:06] cllns commented on #265
_Just fixed the original post and title :)_

[2018-06-06 01:40] pawan92 commented on #265
got it! just to clarify you say remove `utils::duplicable` and also replace it..? do you want that to be removed and replaced with `Object#dup`

[2018-06-06 14:48] cllns commented on #265
Remove the file and replace the instances where it’s used with `Object#dup`. Does that answer your question? Make sure to do it on the `unstable` branch :)

[2018-06-07 02:34] pawan92 commented on #265
I think so. let me try it out! :)

[2018-06-08 02:22] pawan92 commented on #265
I think so. let me try it out! :)

[2018-06-08 07:35] jodosha commented on #265
@pawan92 thanks for giving it a try.

---

Please note that this will be possible only when the `unstable` branch will be ported to MRI 2.4+ and JRuby 9.2.0.0+. Because these versions of Ruby make `Object#dup` consistent across all the core primitives.

For instance on MRI 2.3 `1.dup` raises an exception, whereas on 2.4+ it works just fine.

---

To recap, we should merge this first: https://githu

[2018-07-23 13:29] sizer opened #289 "plural of fee is fees. but Hanami sometimes suggest ves."
Hi there ;)
I found some strange behaviour of `Hanami::Utils::String.pluralize`.

Should it be better, for being better Hanami ??? 🤔

## Summary

[code]

## Description

The plural of `fee` is `fees`. But with prefix, the plural will be `ves`.
It is incorrect behaviour I think... 🤔

[2018-07-23 14:54] sakuro commented on #289
[this when clause](https://github.com/hanami/utils/blob/c0f4196bb1b376928d191bb977940366a011a658/lib/hanami/utils/inflector.rb#L385-L386) (rule for knife->knives and such, I think) is the cause?

[2018-08-05 15:06] AlfonsoUceda commented on #289
Hi @sizer thanks for this issue, can you try the `Hanami::Utils::Inflector`'s API?
[code]
or try to create a PR if you think you can fix this behaviour

[2018-08-06 10:50] AlfonsoUceda commented on #214
Talking with @jodosha in Slack he said me:

so we'll come back in version 2.0

[2018-08-06 12:44] jodosha commented on #264
Implemented by #292

[2018-08-06 12:44] #264 closed

[2018-08-06 13:18] jodosha commented on #289
@sizer Thanks for reporting this. I created a fix, would you please review #293 ? Thanks.

[2018-08-07 10:47] sizer commented on #289
Hi, @jodosha . Thanks for fixing this. PR is LGTM. I'll try Hanami@1.3.0 👍

[2018-08-09 15:20] #259 closed

[2018-08-09 15:24] jodosha commented on #289
Fixed by https://github.com/hanami/utils/pull/293

[2018-08-09 15:24] #289 closed

[2018-08-21 12:43] jdickey opened #295 "Logger produces unusable output"
Calls to reporting methods on `Hanami::Logger` such as `#debug` or `#info` produce output that is at best difficult to read and often obscures values.

Easily-reproducible example (Hanami 1.2.0, `hanami-utils` 1.2.0):

[code]
In discussions with @kaikuchn and @katafrakt earlier today, we tracked down the relevant `Hanami::Logger` code to [this line in `Logger#_format_message`](https://github.com/h

[2018-09-12 13:31] jodosha commented on #265
@morron Which version of Ruby?

[code]

[2018-09-12 13:42] morron commented on #265
@jodosha
on 2.4

[code]

[2018-09-17 07:40] AlfonsoUceda commented on #295
Hi @jdickey as you said this is a bug, besides I've tested in console.

[2018-09-17 07:42] AlfonsoUceda commented on #295
Another issue workaround just calling `#to_s`
[code]

[2018-09-17 07:59] AlfonsoUceda commented on #295
@jdickey anyway, the problem is that using default formatter is broken for hashes but you can use json formatter and it will be ok.

[2018-09-17 08:50] jodosha commented on #295
@jdickey Hi, would you please jump into the fix conversation? Thanks. https://github.com/hanami/utils/pull/297

[2018-09-17 08:53] jodosha commented on #265
🤦‍♂️ Alright, thanks for spotting this important bit! We'll discuss if to bump directly to 2.5 for Hanami 2.0.

[2018-10-03 04:44] jdickey opened #298 "Feature proposal: Hanami::Utils::String.squish et al"
## Signature

[code]

## Description

`Hanami::Utils::String.squish` (and its instance-method analogue,  `String#squish`), returns the string, first removing all white-space on both ends of the string, and then changing remaining consecutive white-space groups into one space each.

## Examples

[code]

and

[code]

Note that all consecutive white-space is compressed to a single space, while all _o

[2018-10-03 06:21] AMHOL commented on #298
Do you find this useful outside of heredocs? I generally only use it there and find the following syntax much more aesthetically pleasing:

[code]

When compared to assigning then calling `Hanami::Utils::String.squish(str)`

[2018-10-03 06:26] jdickey opened #299 "Bug: Hanami::Utils.for_each_file_in calls Pathname but does not require the necessary file"
While starting work on a to-be-submitted PR for `Hanami::Utils::String`, I started by running specs for that class against an as-yet-unmodified `lib` directory. Surprisingly, they failed:

[code]

Hmmm. Running `rake` passes, so what's the problem? [Line 87 of `utils.rb`](https://github.com/hanami/utils/blob/master/lib/hanami/utils.rb#L87) reads

[code]

Looking for other calls to `Pathname.new`,

[2018-10-03 09:58] jdickey commented on #298
I've encountered several bugs in my own code (and specs) where I call `::String#squeeze` expecting it to "clean up" white-space while forgetting that it also removes repeated *non-white-space* characters as well.

[code]
Not how Sr. Barranquilla spells his name. 😜 A `#squish` method (which ActiveSupport adds to `::String` and I'm proposing for `Hanami::Utils::String`) would leave the name spelt co

[2018-10-03 16:14] jdickey commented on #298
I've removed the `#squish!` method from the original proposal, which originally included the following (without being struck out, of course)

Since Hanami favours immutable instances (`Hanami::Utils::String` does not mutate `@string` after `#initialize`), that proposed method has been dropped.

[2018-10-04 07:46] kaikuchn commented on #298
Since [squeeze](https://ruby-doc.org/core-2.5.0/String.html#method-i-squeeze) can take the characters it should squeeze as an argument, I don't see much of a need for a `squish` method.

[2019-01-03 15:04] #299 closed

[2019-01-03 15:20] jodosha commented on #298
I'm always reluctant to add features here that aren't general purpose (eg. logger, symbolize hash). Especially for `Utils::String`, I don't wanna it to end up as a dump of functionalities.

We added `.transform` to make `Utils::String` open for extension, without the need to implement new transformations:

[code]

What's the advantage of using `.transform`? You can contact more transformations fro

[2019-01-03 15:20] #298 closed

[2019-01-03 15:33] #295 closed

[2019-01-26 20:41] jodosha commented on #267
Closed by https://github.com/hanami/utils/pull/319

[2019-01-26 20:41] #267 closed

[2019-01-28 16:25] jodosha commented on #265
Closed by https://github.com/hanami/utils/pull/322

[2019-01-28 16:25] #265 closed

[2019-08-07 21:30] mauromorales opened #339 "Singularize get's confused with snake_case words"
I was trying hanami and created a resource called `:control_exercises`. I wasn't able to use the path helper so I listed my routes and saw this:

[code]

Digging deeper I came into the utils repo and found that the problem is that when passed through inflector singularize, the special word `exercise` doesn't get picked because of the `control_` prefix.

https://github.com/hanami/utils/blob/2cc692f

[2019-09-11 09:10] jodosha commented on #214
Not actionable right now.

[2019-09-11 09:10] jodosha commented on #250
Not actionable right now.

[2019-09-11 09:10] #250 closed

[2019-09-11 09:14] #339 closed

[2019-10-18 05:48] ttilberg opened #348 "Utils::Files.append doesn't add properly contents when file doesn't end with a newline"
If routes.rb doesn't end with a newline, generate action adds a line with syntax error.

This came up while following the new user guide. Although it should be second nature to have newlines at the end of your files, it's certainly not a requirement in Ruby. While following the guide and copy pasting code, I ended up with a broken routes file after running a generator.

To reproduce:

Edit your ro

[2019-10-18 08:16] jodosha commented on #348
@ttilberg Thanks for trying Hanami and opening an issue. Would you please try if the fix that I just wrote works for you?

To do so:

  1. Edit your `Gemfile` by adding this line: `gem "hanami-utils", git: "https://github.com/hanami/utils.git", branch: "fix/utils-files-append-without-newline"`
  1. Run `bundle update hanami-utils`
  1. Try again to generate a route with `routes.rb` that doesn't en

[2019-10-18 13:35] ttilberg commented on #348
Yes, that patch works as expected: Thanks for being so quick to respond, and with such courtesy.

Two side comments:

- I thought that was a really clever way to test out the fix using the Gemfile to load that patched dependency. For some reason, I don't feel like I've seen that often in bug reports and associated MRs.

- I love how `root to: 'home#index'get '/***tires***', to: '***sunshine***#ind

[2019-10-18 14:43] jodosha commented on #348
@ttilberg You made my Friday afternoon better. Thanks!

[2019-10-18 15:32] #348 closed

[2020-02-07 19:01] CryptoRodeo opened #358 "Boot Error when using postgresql db."
Hello,

So I'm going off the **hanami getting started tutorial** and unless i go with the default sqlite db option i get a boot error.

This is the message i keep getting anytime I run the web server:

**Hanami::Model::Error: undefined method `new' for class `#<Class:BigDecimal>' Did you mean? next**

Nothing was modified except the .env files to connect to the postgresql db.

any hints as to what

[2020-02-07 19:02] #358 closed

[2020-02-07 19:36] cllns commented on #358
For reference, this was closed because it was in the wrong repo. Here's the right issue: https://github.com/hanami/model/issues/570

[2020-03-09 11:35] wuarmin opened #360 "hanami-utils libraries are not required by Bundler"
Hello,
I use a hanami-utils in a non-hanami-project, and use `Bunder.require`.  However, I have to explicitly call `require 'hanami/utils/UTILS_CLASS'` to be able to use the features.
Is that the expected behaviour, or should it be fixed?

best regards and thanks

[2020-03-09 11:36] jodosha commented on #360
@wuarmin Hey, it's by design. Please have a look at `README`.

https://github.com/hanami/utils#usage

[2020-03-09 11:36] #360 closed

[2020-03-09 11:38] wuarmin commented on #360
Oh, I overlooked that. Thanks!

[2020-06-15 05:15] ablce9 opened #369 "logger filter is not effective on keys in an array"
While working with logging sensitive data in arrays, `filter: %w[password]` is not working.

data comes like this👇
[code]

Code below from [Hanami logger docs](https://guides.hanamirb.org/projects/logging/)
[code]
only works for deep hashes.

[code]

However, the documentation doesn't really state the case where keys are in _the array_. I do understand a cost it takes to filter out every single ke

[2020-10-03 19:23] emirdaponte commented on #369
Hi, it is true, when build the paths to compare them with the filters, it doesn't contemplate iterating in the arrays.
https://github.com/hanami/utils/blob/30c158a2fc9c31e0ae88a16b808ac29fdef6fa46/lib/hanami/logger/filter.rb#L43-L47

Maybe it could be contemplated in the following way:
https://github.com/emirdaponte/utils/commit/7ae71be2ceeff8af111426abc4c43d47025e2d8b

What do you think about it?

[2020-12-04 08:43] jodosha commented on #369
Fixed by #389

[2020-12-04 08:43] #369 closed

[2020-12-04 08:44] jodosha commented on #240
@serradura I've been coming to this issue from time to time. It's a neat idea, but until we don't get a real use case, I'll close it and mark for future consideration.

[2020-12-04 08:44] #240 closed

[2020-12-08 10:30] jodosha commented on #260
Implemented by #390

[2020-12-08 10:30] #260 closed

[2021-05-31 12:07] wuarmin opened #394 "Make `Hanami::Logger` compatible with `Rack::CommonLogger`"
Hey,

I want to improve the requests-logging of my `hanami-api` application and therefore I want to use `Hanami::Logger`, but `Hanami::Logger` needs the `Hanami::CommonLogger`-Rack-middleware, which is not around in pure `hanami-api`-applications.

Following works, but `Rack::CommonLogger` just calls the `<<` method of `Hanami::Logger`, which results in std ruby logging behavior.
[code]

I saw you

[2021-06-19 16:15] heragu opened #393 "Hanami::Interactor and sorbet signature raise an exception"
Assuming you have a project with `hanami-utils` and `sorbet` setup:

[code]

It raises:

[code]

It is debatable if it is a bug on Hanami::Interactor or in Sorbet runtime :D

For me is more an error on Hanami::Interactor and that is why I am opening the bug issue here. What do you think?

[2021-06-21 23:07] cllns commented on #393
Hi, sorry the interactor isn't working with `sorbet`. It was created before sorbet so we didn't anticipate this. While I think generally we're interested in supporting type signatures in Hanami, this library is a bit old and I don't think we're interested in re-working the internals right now. This is because `Hanami::Interactor` will go away in Hanami 2 (which is what our efforts are focused on r

[2021-06-21 23:07] #393 closed

[2021-11-28 10:48] jodosha commented on #394
@wuarmin Hey, did you had the chance to have a look at it? 😃

[2021-11-30 14:12] wuarmin commented on #394
@jodosha hello,
No, I was on parental leave because of my son, but will look at it at the end of the week.
Best regards ;)

[2021-11-30 14:28] jodosha commented on #394
@wuarmin Congrats! 👶

[2021-12-06 09:09] wuarmin commented on #394
@jodosha Thanks!! ;).

Following code would make `Hanami::Logger` `Rack::CommonLogger`-compatible,
[code]
but if we do that, we break following code of `Hanami::CommonLogger`
https://github.com/hanami/hanami/blob/19db85ecb9dcaba7203f49cfdede6bf45e367875/lib/hanami/common_logger.rb#L75

If we do that, we also have to fix `Hanami::CommonLogger` with somethink like this:
[code]
Do you have an idea?

[2022-07-24 19:30] Nerian opened #401 "Interactor"
Hi,

I see the Interactor module is no longer in hanami-utils 2.0.0.beta1.
Is it no longer going to be offered? has it been extracted to a different gem?

Thanks

[2022-07-25 07:40] jodosha commented on #401
@Nerian Hey Gonzalo, thanks for asking.

I'm experimenting (in production) with a simple approach based on dry-monads gem.
But that would be outside of hanami-utils.

[2022-07-25 07:40] #401 closed

[2022-07-25 08:11] Nerian commented on #401
I see, I have never used dry-monads. Looks like an interesting approach. Although I don't see how that can be used to replace the Interactor pattern itself.

I have 4 apps extensively using the Interactor, I love the simple interface. Is there any chance we can instead extract it to a gem rather than remove it? I can understand you may not want to keep maintaining it in such case I can simply extr

[2022-07-25 16:48] cllns commented on #401
@Nerian @alistairholt Have you tried out [dry-transaction](https://dry-rb.org/gems/dry-transaction/main/)? (Ignore the warning at the top of the page on the link, it'll be gone soon and dry-transaction will remain). It's a bit like `Hanami::Interactor`, without the learning curve and different paradigm of dry-monads.

As Hanami we're moving toward consolidating on using **dry-monads** and **dry-tr

[2022-07-25 16:55] alistairholt commented on #401
@cllns I haven't, but it looks interesting. I'll take a look, thank you. Like @Nerian, I really like the standardised & simple interface provided by `Hanami::Interactor` and I'm using it extensively in one of my projects.

[2022-07-27 14:58] Nerian commented on #401
@cllns Thanks for the detailed explanation. I took a look at dry-transactions but it seems it has lot more functionality than what I need. Also it seems to me there is no simple migration from Hanami::Interactor to dry-transactions.

I created https://github.com/Nerian/simple-interactors for those like me who would like to keep using Hanami::Interactor.

@alistairholt Please try it out and let me

[2022-07-27 20:08] cllns commented on #401
Thanks for doing that @Nerian. In the future if people are looking for the same thing, I'll be sure to direct them to your gem.

What do you think about renaming `Hanami::Interactor` to `SimpleInteractor` inside your gem? It's not a huge deal but it feels a little odd to expose a `Hanami` module in an external project. Then, in the README, you can instruct people to add `Hanami::Interactor = Simpl

[2022-11-07 09:45] jodosha commented on #394
Closing as obsolete. We now moved to `dry-logger.`

[2022-11-07 09:45] #394 closed